<!DOCTYPE html>
<html>
  <head>
    <title>Italian Boggle</title>
    <link type='text/css' rel='stylesheet' href='/css/ib.css' />
  </head>
  <body>
    <div id="container"></div>
    <div id="button"><a href="javascript:;">roll</a></div>
    <script src="/boggle.js" type="text/javascript"></script>
  </body>
</html>
