#container > div > div {float:left; width:100px;height:100px; text-align:center; line-height:100px; font-size:80px; border:1px solid black;}
#container > div { clear:both} 
#button { clear:both; font-size:80px; text-align:center} 

